/* register.css */

.main {
    background-image: url(''); /* Agrega la URL de tu fondo de pantalla aquí */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.cardmain {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 300px;
}

.cardinfo h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #000000;
}

.cardinfo p {
    font-family: 'Comic Sans MS', cursive;
    font-size: 16px;
    color: #549bb9;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #fff;
    padding: 1px 1px;
    border-radius: 2px;
    text-align: center;
    width: 160px;
    position: relative;
    cursor: pointer;
}

label:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-style: italic;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: rgb(0, 104, 189);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: #01080e;
}

/* Estilos específicos para el botón de Registro */
.registerButton {
    background-color: rgb(0, 104, 189);
    /* Otros estilos... */
}

.btn-square {
    width: 80px;
    height: 20px;
    border-radius: 0;
}
